# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# IDE/editor files
.vscode/
.idea/
*.suo
*.user
*.swp