<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sleep Disorders API{% endblock %}</title>
    <!-- Materialize CSS CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Sleep Disorders API</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('form') }}">Form</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- Materialize JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS -->
    {% block custom_js %}{% endblock %}
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
