<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Data Form</title>
</head>
<body>
    <form id="healthForm" action="/predict" method="post">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br>

        <label for="age">Age:</label>
        <select id="age" name="age">
            <option value="26-35">26-35</option>
            <option value="36-45">36-45</option>
            <option value="46-55">46-55</option>
            <option value="55-59">55-59</option>
        </select><br>

        <label for="daily_steps">Daily Steps:</label>
        <select id="daily_steps" name="daily_steps">
            <option value="Under 4000">Under 4000</option>
            <option value="5000-6500">5000-6500</option>
            <option value="7000-9000">7000-9000</option>
            <option value="Over 10000">Over 10000</option>
        </select><br>

        <label for="sleep_duration">Sleep Duration:</label>
        <select id="sleep_duration" name="sleep_duration">
            <option value="5-6 Hours">5-6 hours</option>
            <option value="6-7 Hours">6-7 hours</option>
            <option value="7-8 Hours">7-8 hours</option>
            <option value="8-9 Hours">8-9 hours</option>
        </select><br>

        <label for="daily_physical_activity">Physical Activity:</label>
        <select id="daily_physical_activity" name="daily_physical_activity">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select><br>

        <label for="height">Height (cm):</label>
        <input type="number" id="height" name="height" required><br>

        <label for="weight">Weight (kg):</label>
        <input type="number" id="weight" name="weight" required><br>

        <label for="systolic">Systolic Blood Pressure:</label>
        <input type="number" id="systolic" name="systolic" required><br>

        <label for="diastolic">Diastolic Blood Pressure:</label>
        <input type="number" id="diastolic" name="diastolic" required><br>

        <label for="quality_of_sleep">Quality of Sleep (1-10):</label>
        <input type="number" id="quality_of_sleep" name="quality_of_sleep" min="1" max="10" required><br>

        <label for="stress_level">Stress Level (1-10):</label>
        <input type="number" id="stress_level" name="stress_level" min="1" max="10" required><br>

        <label for="heart_rate">Heart Rate (bpm):</label>
        <input type="number" id="heart_rate" name="heart_rate" required><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
