{% extends "base.html" %}

{% block content %}
    <div class="section center-align">
        <h1>Welcome to SleepSense</h1>
        <p>Your companion for better sleep and health.</p>
        <div class="cta-container">
            <a href="{{ url_for('form') }}" class="cta-button">Get Started</a>
        </div>
    </div>

    <div class="section">
        <div class="section-divider"></div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card-layout">
                    <div class="card-icon">
                        <i class="fas fa-bed fa-3x"></i>
                    </div>
                    <p>Monitor and improve your sleep patterns with detailed insights.</p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-layout">
                    <div class="card-icon">
                        <i class="fas fa-lightbulb fa-3x"></i>
                    </div>
                    <p>Receive customized recommendations to enhance your sleep quality.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-divider"></div>

{% endblock %}
