{% extends "base.html" %}

{% block content %}
    <!-- Jumbotron Section -->
    <div class="navbar-gutter"></div>
    <div class="jumbotron">
        <h1>SleepSense</h1>
        <p>Discover if you may suffer from a sleep disorder.</p>
        <div class="cta-container">
            <a href="{{ url_for('form') }}" class="cta-button">Get Started</a>
        </div>
    </div>

    <!-- Card Grid Section -->
    <div class="section">
        <div class="section-divider"></div>
        <div class="row">
            <!-- Card 1 -->
            <div class="col s12 m6 l4 xl3">
                <div class="card-layout">
                    <div class="card-icon">
                        <i class="fas fa-bed fa-3x"></i>
                    </div>
                    <p>Improve your sleep with detailed insights.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col s12 m6 l4 xl3">
                <div class="card-layout">
                    <div class="card-icon">
                        <i class="fas fa-lightbulb fa-3x"></i>
                    </div>
                    <p>Find out whether you need medical help.</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col s12 m6 l4 xl3">
                <div class="card-layout">
                    <div class="card-icon">
                        <i class="fas fa-heartbeat fa-3x"></i>
                    </div>
                    <p>Take ownership of your health.</p>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col s12 m6 l4 xl3">
                <div class="card-layout">
                    <div class="card-icon">
                        <i class="fas fa-cloud-moon fa-3x"></i>
                    </div>
                    <p>Start sleeping in peace.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-divider"></div>
{% endblock %}
